<ul class="navbar-nav">
  <li *ngIf="!(this.authenticationService.isAuthenticated | async)" class="nav-item">
    <a aria-current="page" class="nav-link active" routerLink="/authentication/login">Login</a>
  </li>
</ul>
<div *ngIf="this.authenticationService.isAuthenticated | async">
  <div fxLayout="row">
    <span class="navbar-text userInfo">{{currentUser.username}}</span>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="onLogout()" aria-current="page" class="nav-link" routerLink="/">Logout</a>
      </li>
    </ul>
  </div>
</div>
