$navigation-color: #039803;

#nav-container:hover {
  padding: 1em;
  border: 3px solid $navigation-color;
  margin-bottom: 1em;
}

#nav-container:not(:empty):hover::after {
  content: 'Navigation Module';
  background: white;
  position: absolute;
  margin-top: 55px;
  padding: 5px;
  color: $navigation-color;
}
