<div class="mb-5" id="nav-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" fxFlex>
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Magic Shop</a>
      <div class="collapse navbar-collapse" fxLayout="row" fxLayoutAlign="space-between center" id="navbarSupportedContent">
        <div>
          <ul *ngIf="authService.isAuthenticated | async" class="navbar-nav">
            <li *ngFor="let navItem of navItems" class="nav-item">
              <a [routerLink]="navItem.link" aria-current="page" class="nav-link">{{navItem.name}}</a>
            </li>
          </ul>
        </div>
        <app-user-panel></app-user-panel>
      </div>
    </div>
  </nav>
</div>
