$login-color: #3385de;

#login-container:hover {
  padding: 1em;
  margin: 1em;
  border: 3px solid $login-color;
}

#login-container:not(:empty):hover::after {
  content: 'Authentication Module';
  background: white;
  position: absolute;
  margin-top: -35px;
  padding: 5px;
  color: $login-color;
}
